<!-- Start: Collapsible panel template -->
<!-- type="text/ng-template" id="Collapsible" -->

<div id="{{ controls.properties.id }}"     
     data-role="collapsible"
     data-collapsed="{{ controls.properties.collapsed|| false }}"
     data-mini="{{ controls.properties.mini || true }}"
     data-iconpos="{{ controls.properties.iconpos || right }}"
>
  
  <h4>{{controls.properties.heading}}</h4>
  
  <r ng-repeat="d in controls.children track by $index" controls="d" parent="controls"></r>
  
</div>

<!-- End: Collapsible panel template -->
