<!-- type="text/ng-template" id="RadioButton" -->
<input type="radio" id="{{controls.uniqueProperty}}{{controls.properties.id}}"
       value="{{controls.properties.label}}"
       name="{{groupname}}"
       ng-model="parent.value" 
       data-mini="{{controls.properties.mini || parent.properties.mini}}"
       ng-disabled="controls.properties.disabled"
       ng-checked="controls.properties.isChecked"
       />

<label for="{{controls.uniqueProperty}}{{controls.properties.id}}" >{{controls.properties.label}}</label>
