
<!-- Start: ToggleSwitch Template -->
<!-- type="text/ng-template" id="ToggleSwitch" -->
<div data-role="fieldcontain" >
  <div>
    <label for="checkbox-based-flipswitch-{{controls.properties.id}}">{{controls.properties.label}}</label>
  </div>
  <select name="checkbox-based-flipswitch-{{controls.properties.id}}"
          id="checkbox-based-flipswitch-{{controls.properties.id}}"
          
          data-role="flipswitch"
          data-mini="{{controls.properties.mini}}"
          
          ng-model="controls.value"
          ng-disabled="controls.properties.disabled">
    
    <option value="false">{{controls.properties.label1 || "No"}}</option>
    <option value="true">{{controls.properties.label2 || "Yes"}}</option>
  </select>
</div>
