<!-- type="text/ng-template" id="CategoriesButtons" -->
<!-- <pre class="code">{{categorieschildren | json}}</pre> -->
<div class="" >
  <form>
    <fieldset data-role="controlgroup" data-type="horizontal">
      <span ng-repeat="h in categorieschildren track by $index">
        <input type="checkbox" name="checkbox-h-{{h.data.id || h.properties.id}}" ng-model="h.data.value"
          id="checkbox-h-{{h.data.id || h.properties.id}}" text="Checkbox" />
        <label for="checkbox-h-{{h.data.id || h.properties.id}}">{{h.data.name || h.properties.label}}</label>
      </span>
    </fieldset>
  </form>
  <categories ng-repeat="c in categorieschildren track by $index"
              categorieschildren="c.categorieschildren" ng-show="c.data.value"></categories>
</div>
