<!-- type="text/ng-template" id="CategoriesButtonsStems" -->
<div class="ui-field-contain controlgroup-block" ng-repeat="c in categorieschildren track by $index">
  <fieldset data-role="controlgroup" data-type="horizontal">
    <input type="checkbox" name="checkbox-bt-{{c.data.id}}"
      id="checkbox-bt-{{c.data.id}}" ng-model="c.data.value">
    <label for="checkbox-bt-{{c.data.id}}">{{c.data.name}}</label>
  </fieldset>

  <categories categorieschildren="c.categorieschildren" ng-show="c.data.value"></categories>
</div>
