<!-- type="text/ng-template" id="CategoriesButtonsStems" -->

<!-- <pre class="code">{{categorieschildren | json}}</pre> -->
<div class="ui-field-contain controlgroup-block" ng-repeat="c in categorieschildren track by $index">
  
  <fieldset data-role="controlgroup" data-type="horizontal">
    <input type="checkbox" name="checkbox-bt-{{c.data.id || c.properties.id}}"
      id="checkbox-bt-{{c.data.id || c.properties.id}}" ng-model="c.data.value">
    <label for="checkbox-bt-{{c.data.id || c.properties.id}}">{{c.data.name || h.properties.label}}</label>
  </fieldset>

  <categories categorieschildren="c.categorieschildren" ng-show="c.data.value"></categories>
</div>
