<!-- Start: Slider Template -->
<!-- type="text/ng-template" id="Slider" -->
<form style="padding-top: 5px; padding-bottom: 10px">
  <div class="ui-field-contain">
    
    <div for="slider-{{controls.properties.id}}">{{controls.properties.label}}</div>

    <input type="range"
           
           name="slider-{{controls.properties.id}}"
           id="slider-{{controls.properties.id}}"
           
           min    = "{{ controls.properties.min   || 0    }}"
           max    = "{{ controls.properties.max   || 200  }}"
           value  = "{{ controls.properties.value || 0    }}"
           step   = "{{ controls.properties.step  || 1    }}"
           
           data-default-value="0"

           data-highlight = "{{ controls.properties.highlight   || false  }}"
           data-mini      = "{{ controls.properties.mini        || false  }}"
           
           ng-disabled="{{controls.properties.disabled || false}}"
           ng-model="controls.value"
           />
    
    </div>
</form>

<!-- End: Slider Template -->
