<!-- Nested list template -->
<div ui-tree-handle>
  <a ng-show="isContainer(item.type)"
     style="margin: 0" data-nodrag ng-click="toggle(this)"
     class="glyphicon glyphicon-plus-sign"
          ng-class="{'glyphicon-plus-sign': collapsed, 'glyphicon-minus-sign': !collapsed}">
  </a>
  <span>{{item.type}} {{item.properties.label ? " : " + item.properties.label : ""}}</span>

  <a class="pull-right glyphicon glyphicon-remove"
     data-nodrag ng-click="remove(this)" style="margin: 0">
    <span class=""></span>
  </a>

  <a class="pull-right btn btn-primary btn-xs" ng-show="isContainer(item.type) && false"
     data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">
    <span class="glyphicon glyphicon-plus"></span>
  </a>

  <span class="">{{isContainer(item.type) ? " : Type Container" : ""}}</span>

</div>

<ol ui-tree-nodes="options" ng-model="item.children" ng-class="{hidden: collapsed}">
  <li ng-repeat="item in item.children" ui-tree-node
      ng-include="'/Components/ControlsTreeModule/ControlsTree/items_renderer.html'"></li>
</ol>
