<input id="listItemNameInput" type="text" ng-model="createItemCtrl.model.itemLabel"
       placeholder="New List Item ..."  / >


<select data-mini="true" ng-model="createItemCtrl.model.itemType" data-native-menu="true"
         ng-click="$event.preventDefault();" ng-click-preventdefault>
  <option value="">-- Select Control --</option>
  <option value="CategoriesButtons">CategoriesButtons</option>
  <option value="CategoriesButtonsStems">CategoriesButtonsStems</option>
  
  <option value="SelectMenu">SelectMenu</option>
  <option value="Option">Option</option>
  <option value="Tabs">Tabs</option>
  <option value="TabRoot">TabRoot</option>
  
  <option value="Checkbox">Checkbox</option>
  <option value="CheckboxGroup">Checkbox Group</option>
  <option value="RadioButton">Radio Button</option>
  <option value="RadioGroup">Radio Group</option>
  <option value="Div">Div</option>
  <option value="Slider">Slider</option>
  <option value="Content">Content</option>
  <option value="ToggleSwitch">Toggle Switch</option>
  <option value="TextInput">Text Input</option>
  <option value="Collapsible">Collapsible</option>
  <option value="CollapsibleSet">CollapsibleSet</option>
  <option value="Text">Text</option>
</select>
<a href="#" class="ui-btn ui-btn-inline ui-mini" ng-click="createItemCtrl.add()">Add</a>

<a href="#" class="ui-btn ui-btn-inline ui-mini" ng-click="createItemCtrl.duplicate()">Duplicate</a>

