<div ng-controller="CreateListItemController as createItemCtrl">
  <input id="listItemNameInput" type="text" ng-model="createItemCtrl.model.itemLabel"
         placeholder="New List Item ..."  / >
  <div ng-show="createItemCtrl.model.listSectionServiceValues.selectedSection 
  && createItemCtrl.model.listSectionServiceValues.controlsOptions[createItemCtrl.model.listSectionServiceValues.selectedSection] !== undefined">
    <select data-mini="true" ng-model="createItemCtrl.model.itemType" data-native-menu="true"
             ng-click="$event.preventDefault();" 
             ng-options="s.value as s.displayName for s in 
             createItemCtrl.model.listSectionServiceValues.controlsOptions[createItemCtrl.model.listSectionServiceValues.selectedSection]"
             ng-click-preventdefault>
      <option value="">-- Select Control --</option>
    </select>
  </div>
  <div>
    <a href="#" class="ui-btn ui-btn-inline ui-mini" ng-click="createItemCtrl.add()">Add</a>

    <a href="#" class="ui-btn ui-btn-inline ui-mini" ng-click="createItemCtrl.duplicate()">Duplicate</a>
  </div>

</div>
